<head>
    <title>{{ title }}</title>
</head>
<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <div>
        {% if page > 1 %}
            <a href="{{ url_for('choosing', page=page-1) }}">Previous Page</a>
        {% endif %}
        
        <span>Page {{ page }}</span>
    
        <a href="{{ url_for('choosing', page=page+1) }}">Next Page</a>
    </div>
    <table>
        <tr>
            <th>Номер</th>
            <th>Имя</th>
            <th>Атака</th>
            <th>Здоровье</th>
        </tr>
        {% for pokemon in pokemon_list %}
            <tr> 
                <td>
                    {{loop.index + (page -1) *20}}.
                </td>
                <td>
                    {{ pokemon['name'] }}
                </td>
                <td>
                    {{pokemon['attack']}}
                </td>
                <td>
                    {{pokemon['health']}}
                </td>
                <td>
                    <img src="{{ pokemon['pokemon_image'] }}" alt="{{ pokemon['name'] }} Image">
                </td>
        {% endfor %}
    </table>
   <form method = "POST",action='/'>
        <select name = "choice" required>
            <option value="" disabled selected> Выбери своего покемона!</option>
            {% for pokemon in pokemon_list %}
                <option value="{{loop.index}}">{{pokemon['name']}}</option>
            {% endfor %}
        </select>
        <button type="submit">
            Выбрать
        </button>

   </form>
   <div>
    {% if page > 1 %}
        <a href="{{ url_for('choosing', page=page-1) }}">Previous Page</a>
    {% endif %}
    
    <span>Page {{ page }}</span>

    <a href="{{ url_for('choosing', page=page+1) }}">Next Page</a>
    </div>
   {% if outcome_message %}
   <div>
       <p>{{ outcome_message }}</p>
   </div>
   {% endif %}
</body>

</html>
